.upload-resume-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  .resumebg{
    background-color: #1b1f23;
  }

  .upload-resume-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .upload-resume-container input[type="file"] {
    margin-bottom: 20px;
  }
  
  .upload-resume-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upload-resume-container button:hover {
    background-color: #0056b3;
  }
  
  .upload-progress {
    margin-top: 20px;
  }
  
  .upload-progress p {
    margin-bottom: 10px;
  }
  
  .error-message {
    color: #ff0000;
  }
.successful{
    color: rgb(11, 201, 11);
}
.cardbody{
    width: 40%;
    padding: 30px;
    margin:30px ;
}